{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'category/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%">Nro</th>
        <th scope="col" style="width: 20%">Nombre</th>
        <th scope="col" style="width: 50%">Descripcion</th>
        <th scope="col" style="width: 20%">opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
